= render 'admin/unread', unread: CountUnreadReports.call

%table
  %tbody
    %th Opis
    %th E-mail
    %th Cena
    - @reports.each do |report|
      %tr
        %td= report.description
        %td= report.email
        %td= report.price