@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #1CD8D2;
  background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7);
  background: linear-gradient(to left, #1CD8D2 , #93EDC7);
}